.division_table {
    margin: 10px;
}
.styled_table {
    border-collapse: collapse;
    /* margin: 25px 10px; */
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    width: 50%;
    margin: 10px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled_table thead tr {
    background-color: #469f8f;
    color: #ffffff;
    text-align: left;
}

.styled_table th,
.styled_table td {
    padding: 12px 15px;
}

.styled_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled_table tbody tr:last-of-type {
    border-bottom: 2px solid #469f8f;
}

.styled_table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
